html{
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.containerAwal{
    height: 100vh;
}
.navigation{
    width: 100%;
    height: 13.1vh;
    background: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    z-index: 2;
    flex-wrap: wrap;
}

.navigation ul li{
    list-style: none;
    display: inline-block;
    padding: 30px 20px 10px 10px;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px ;
    transition: 0.5s;
}

.navigation .fa{
    color: white;
    display: none;
}

.navigation img{
    width: 120px;
    height: 69px;
    padding: 3px 0 0 25px;
    order: 1;
}

.nav-links{
    order: 3;
}

.navigation .fa-bars{
    order: 2;
}

.navigation ul li a:hover{
    background-color: silver;
    border: 1px solid slategray;
    border-radius: 10px;
    padding: 7px;
}

/* Banner */
.banner{
    position: relative;
    top: 80px;
    width: 100%;
    height: 86vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url("img/header.jpg");
    background-size: cover;
    background-position: center;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 65px;
    animation: animasi 3s forwards;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    margin-top: 50px;
    font-size: 13px;
    background : transparent;
    transition: 1s;
    animation: animasi2 2s forwards ;
    animation-delay: 2.5s;
    opacity: 0;
}

.hero-btn:hover{
    border: 1px solid slategray;
    background-color: silver;
}

/* About Us */
.aboutUs{
    height: 100vh;
    width: 100%;
    background: rgb(15, 15, 15);
    position: relative;
    top:-5.5px;
    text-align: center;
    justify-content: center;
}

.aboutUs h1{
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 120px;
    left: 43.5%;
}

.containerBox{
    display: flex;
    justify-content: space-evenly;
    transform: translateY(180px);
    padding: 20px;
    flex-wrap: wrap;
}

.box{
    color: white;
    height: 300px;
    padding: 20px;
    width: 300px;
}

.box h2{
    margin-bottom: 20px;
}

.box1{
    background: linear-gradient(#00416a, #1f5a80);
}
.box2{
    background: linear-gradient(#203A43, #2C5364);
}

.box3{
    background: linear-gradient(#0b5688, #005AA7);
}


/* Members */
.members{
    height: 200vh;
    width: 100%;
    background: linear-gradient(#ECE9E6, #FFFFFF);
    position: relative;
    top:-5.5px;
}

.members h1{
    text-align: center;
    position: absolute;
    top: 120px;
    left: 45%;
    text-transform: uppercase;

}

.containerMember{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    transform: translateY(130px);
}

.member{
    height: 450px;
    width: 300px;
    border-radius: 1px solid black;
    background: linear-gradient(#1c92d2, #f2fcfe);
    text-align: center;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    margin-top: 50px;
}

.member:nth-child(even){
    background: linear-gradient(#0052D4, #65C7F7, #9CECFB, #f2fcfe);
}
.foto1{
    background: url(img/hafidz.jpg);
}
.foto2{
    background: url(img/yw.jpg);
}

.foto3{
    background: url(img/yw.jpg);
}

.foto4{
    background: url(img/yw.jpg);
}

.foto5{
    background: url(img/yw.jpg);
}

.foto6{
    background: url(img/yw.jpg);
}

.foto7{
    background: url(img/yw.jpg);
}

.foto8{
    background: url(img/yw.jpg);
}

.foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    margin: 30px auto;

}

.member h2{
    transform: translateY(-10px);
}

.member p{
    font-size: 14px;
}

/* Coming Soon */
.banner{
    position: relative;
}

.banner h2{
    position: absolute;
    bottom: 50px;
    text-align: center;
    justify-content: center;
    left: 50vw;
    transform: translateX(-50%);
    color: red;
    opacity: 0;
    animation: comingSoon 1s 4s forwards;

}

.banner h4{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(255,255,255,0.5)
    
}

@keyframes comingSoon{
    0%{
        opacity: 0;
        scale: 1;
    }

    100%{
        margin-bottom: 40px;
        opacity: 1;
    }
}

/* Media Queries  */
@media (max-width:700px){
    html{
        scroll-behavior: smooth;
    }
    
    .containerAwal{
        width: 100%;
        height: 100vh;
        overflow: visible;
    }

    .content h1{
        font-size: 45px;
        text-align: center;
    }

    .navigation{
        width: 100vw;
        position: fixed;
    }

    .navigation img{
        padding: 3%;
    }

    .banner{
        height: 90vh;
    }

    .banner h4{
        transform: translateY(-7px);
    }
    
    .nav-links{
        background-color: black;
        position: fixed;
        right: -200px;
        height: 100vh;
        z-index: 2;
        width: 40vw;
        text-align: left;
        padding-left: 10px;
        transition: 1s;

    }

    .navigation .fa{
        display: block;
        color: white;
        font-size: 35px;
        padding: 30px 0px 20px 10px;
    }

    .navigation .fa-bars{
        padding: 33px 30px;
    }

    /* About Us */

    .aboutUs{
        height: 1200px;
        width: 100%;
    }

    .aboutUs h1{
        position: relative;
        left: -5px;
    }
    .containerBox{
        flex-wrap: wrap;
    }

    .box{
        width: 100%;
        height: 250px;
        margin-bottom: 10px;
    }

    /* Members */
    .members{
        height: 4500px;
        width: 100%;
    }

    .members h1{
        position: relative;
        left: -3px;
    }

    .containerMember{
        flex-wrap: wrap;
    }

    .member{
        width: 80%;
        padding: 10px;
    }




}

/* Keyframes */
@keyframes animasi2{
    0%{
        opacity: 0;
        scale: 0;
    }

    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes animasi{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 0.75;
        transform: rotateX(360deg);
    }
}

